:root {
  --card-border-radius: 1rem;
  --card-box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  --white: #fff;
  --black: #000;
  --near-black: #222;
  --blue-border-color: #41a3ff;
  --rot-selection-color: #468499;
  --select-background-color: #38bd95;
  --input-output-card-backgroud: linear-gradient(rgb(56, 189, 149), rgb(28, 139, 106));
  --light-gray: #ccc;
  --text-xl: clamp(2.5rem, 1.982rem + 2.21vw, 3.75rem);
  --text-lg: 2rem;
  --text-md: 1.25rem;
  --transition-speed: var(--transition-speed);
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5;
}

*, 
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  width: min(100% - 2rem, 80rem);
  margin-inline: auto;
  overflow: hidden;
  padding-block-end: 4rem;
}

h1 {
  font-size: var(--text-xl);
  border-bottom: 0.1rem solid #d3d3d3;
}

h3 {
  font-size: var(--text-lg);
  margin-block: 0;
}

p {
  font-size: var(--text-md);
  letter-spacing: 1.5rem;
  word-break: break-all;
}

span {
  font-size: var(--text-md);
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.page-header {
  margin-block: 2rem;
}

.page-heading {
  margin: 0;
  padding-block-end: 2rem;
}

.container {
  width: min(100%, 60rem);
  margin-inline: auto;
}

.alphabet-wrapper {
  margin-block-end: clamp(2rem, 1.171rem + 3.536vw, 4rem);
  flex-direction: column;
  gap: 3rem;
}

.letters-container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-block-start: 1rem;
}

.cipher-selection-container {
  font-size: var(--text-md);
  margin-block-end: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cipher-select-wrapper {
  width: max-content;
  margin-inline: auto;
}

.cipher-selection {
  font-weight: 600;
  margin: 0 auto;
  padding: 0.75rem;
  padding-inline-end: 2.5rem;
  border-radius: 0.25rem;
  outline: none;
  color: var(--white);
  background-color: var(--select-background-color);
  border: none;
  appearance: none;
}

.select-dropdown-icon {
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  width: 1rem;
  aspect-ratio: 1;
}

.text-input-output-wrapper {
  padding: clamp(2rem, 1.171rem + 3.536vw, 4rem);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
  isolation: isolate;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
  }

  &::before {
    inset: 0;
    background: var(--input-output-card-backgroud);
    z-index: -1;
  }

  &::after {
    inset: 2px;
    background: var(--white);
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.text-title {
  font-size: 1.75rem;
  background: var(--input-output-card-backgroud);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-block: 0 1rem;
}

.plaintext-word {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--text-md);
  border: transparent;
  padding: 0.75rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--near-black);
  outline: 0.1rem solid transparent;
  background-color: var(--white);
  color: var(--near-black);

  &:disabled {
    background-color: #e8e8e8;
    cursor: not-allowed;
    color: #373737;
  }
}

.plaintext-word:focus {
  border-color: var(--near-black);
}

.cipher-selection-value {
  font-size: var(--text-xl);
  margin: 0;
  transition: color var(--transition-speed) ease;
  color: currentColor;
}

.cipher-selection-value {
  &.active {
    color: var(--rot-selection-color);
  }

  &.ciphered-alphabet {
    font-size: var(--text-lg);
  }
}

.ciphertext-word {
  font-size: var(--text-md);
  text-align: left;
  min-height: 3.8rem;
  letter-spacing: 0.1rem;
  padding-inline-start: 0.75rem;
  color: var(--near-black);
}

@media (min-width: 48rem) {
  .cipher-selection-container {
    flex-direction: row;
    align-items: center;
  }

  .cipher-select-wrapper {
    margin: 0;
  }
}

@media (min-width: 64em) {
  :root {
    --text-lg: 2.25rem;
  }

  .text-input-output-wrapper {
    gap: 4.8rem;
  }
}
