:root {
  --card-border-radius: 1rem;
  --card-box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  --white: #fff;
  --black: #000;
  --near-black: #222;
  --blue-border-color: #41a3ff;
  --rot-selection-color: #468499;
  --select-background-color: #38bd95;
  --input-output-card-backgroud: linear-gradient(rgb(56, 189, 149), rgb(28, 139, 106));
  --light-gray: #ccc;
  --text-xl: clamp(2.25rem, -0.6493rem + 5.0336vw, 4.5rem);
  --text-lg: 2rem;
  --text-md: 1.4rem;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Noto Sans KR', sans-serif;
}

*, 
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: var(--text-xl);
  border-bottom: 0.1rem solid #d3d3d3;
  padding-bottom: 2rem;
}

h3 {
  font-size: var(--text-lg);
  margin-bottom: 0;
}

p {
  font-size: var(--text-md);
  letter-spacing: 1.5rem;
  word-break: break-all;
  line-height: 2;
}

span {
  font-size: var(--text-md);
}

.page-title-container {
  padding: 2rem;
  margin-bottom: 4rem;
}

.page-title {
  margin: 0;
  padding-bottom: 2rem;
}

.alphabet-wrapper {
  margin-bottom: 6rem;
}

.cipher-selection-container {
  font-size: var(--text-md);
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;
}

.cipher-selection {
  font-weight: 600;
  margin: 0 auto;
  padding: 0.75rem;
  border-radius: 0.2rem;
  outline: none;
  color: var(--white);
  background-color: var(--select-background-color);
  border: none;
}

.text-input-output-wrapper {
  padding: 2rem;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
  overflow: scroll;
  position: relative;
}

.text-input-output-wrapper::before  {
  content: '';
  position: absolute;
  inset: -0.3rem;
  background: var(--input-output-card-backgroud);
  border-radius: var(--card-border-radius);
  z-index: -1;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-title {
  font-size: 1.8rem;
  margin-top: 0;
  color: var(--white);
}

.plaintext-word {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--text-md);
  border: transparent;
  padding: 1rem;
  text-transform: uppercase;
  border-bottom: 0.2rem solid var(--near-black);
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  outline: 0.1rem solid transparent;
  transition: background-color 0.3s ease;
  background-color: var(--white);
}

.plaintext-word:disabled {
  background-color: transparent;
}

.plaintext-word:focus {
  border-color: var(--near-black);
}

.x-cipher-selection {
  font-size: var(--text-xl);
  margin: 0;
  transition: color 0.2s ease;
  color: currentColor;
}

.x-cipher-selection.active {
  color: var(--rot-selection-color);
}

.ciphered-alphabet {
  margin-top: 5rem;
}

.ciphertext-word {
  min-height: 3.8rem;
  border-bottom: 0.2rem solid var(--near-black);
  transition: border-color 0.2s ease;
  letter-spacing: 0.1rem;
}

.ciphertext-word.encoded {
  color: #46ffda;
}

@media (min-width: 36em) {
  .main {
    max-width: 54rem;
    margin: 0 auto;
    padding: 0;
  }

  .cipher-selection-container {
    flex-direction: row;
  }

  .cipher-selection {
    margin: 0;
  }
}

@media (min-width: 48em) {
  .main {
    max-width: 65rem;
  }

  .text-input-output-wrapper {
    padding: 3.5rem;
  }
}

@media (min-width: 64em) {
  :root {
    --text-lg: 2.25rem;
    --text-md: 1.75rem;
  }

  .main {
    max-width: 95rem;
  }

  .alphabet-wrapper {
    margin-bottom: 8rem;
  }

  .text-input-output-wrapper {
    padding: 4.5rem;
    gap: 4.8rem;
    max-width: 75rem;
    margin: 0 auto;
  }

  .cipher-selection-container {
    max-width: 75rem;
    margin: 0 auto 4rem;
  }
}

@media (min-width: 75em) {
  .main {
    max-width: 117rem;
  }

  .text-input-output-wrapper {
    gap: 6.4rem;
  }
}
